.form{
   background-image: url(https://media.istockphoto.com/id/1205881259/photo/office-table-top-view.jpg?b=1&s=170667a&w=0&k=20&c=ftWOjSBVYJHNcUDRdEiLE1xKWLcBoAWUQ7LyWJ3zRb0=);
color:black;
text-align: right;
position: absolute;
top: 50px;
left: 1200px;
bottom: 15%;
right: 4%;

padding-right:1%;
padding-left: 0%;
margin-right: 5PX;
cursor: pointer;
transition-delay: inherit;
border-radius: 20px;
}
.text{
   font-style: bold;
   

}
.h6{

   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl6aZxNWxgYfYParsmPpVupdR-bqTd2AlXzg&usqp=CAU);
   position: absolute;
   left: 0%;
   right: 0%;
   bottom:0%;
 border-radius: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;
}
.header{
   background-image: url(https://wallpaperaccess.com/full/2314950.jpg);
 min-height: 100vh;
 width: 100%;
 background-size: cover;
background-position: center;
position: relative;
transition: 0.5s;
}
.mm{
   background-color: rgb(140, 255, 0);
   font-size: medium;
}